.love_medice {
    .love_medice_bg {
        background-image: url('../../images/activeBg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: absolute;
        top: -12%;
        left: 0;
        right: 0;
        height: 100vh;
        .love_medice_item {
            position: relative;
            margin-top: 100px;
            .love_medice_item_title {
                h1 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 36px;
                    color: #282938;
                }
            }
        }
    }
    position: relative;
    height: 100vh;
    .love_medice_bgtree {
        img {
            position: absolute;
            bottom: 100px;
            right: 0;
            transform: rotateY(180deg);
            opacity: 0.15;
        }
    }
}