@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Barlow:wght@200;400;600&family=Bellefair&family=Nunito:ital,wght@0,200;0,300;1,200&family=Philosopher:wght@400;700&family=Poppins:wght@200;400;600&display=swap");

.product {
  h3 {
    color: #53b175;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b0b7c3;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #b0b7c3;
  }
  &__fructis {
    margin-top: 30px;
    h4 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 20px;
    }
    &__asartiment {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      gap: 15px;
    }
  }
  &__gardin {
    &__row {
      align-items: center;
      P {
        text-align: justify;
      }

      &__coool {
        img {
          margin-left: -80px;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
        }
      }
    }
  }
  &__info {
    &__treated {
      display: flex;
      justify-content: center;
      padding-bottom: 60px;
      &__hfive {
        bottom: 34.33%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        width: 650px;
        text-align: center;
      }
    }
    &__dowload {
      display: flex;
      justify-content: center;
      gap: 60px;
      &__square {
        width: 320px;
        height: 150px;
        left: 660px;
        top: 0px;
        background: #ffffff;
        box-shadow: 0px 15px 60px rgba(22, 22, 22, 0.1);
        border-radius: 15px;

        &__hfour {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 800;
          font-size: 100px;
          line-height: 147px;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          color: #69cb3a;
          opacity: 0.3;
          width: 171px;
        }
        &__textP {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          color: #29da6a;
          margin-top: -70px;
        }
      }
    }
  }
  &__center {

    &__Taxt {
      justify-content: center;
      display: flex;
      padding-top: 150px;
      padding-bottom: 150px;
      position: relative;

      &__fotoOne {
        transform: matrix(1, 0, 0, -1, 0, 0);
        margin-right: -40px;
      }

      &__fotoTwo {
      }
      .product__center__title {
        position: absolute;
        bottom: 40%;
        font-family: "Nunito";
        font-style: italic;
        font-weight: 600;
        font-size: 34px;
        line-height: 46px;
        text-align: center;
        font-feature-settings: "salt" on, "liga" off;
        color: #53b175;
        width: 800px;
      }
    }
  }
}
