.form {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 175px;
    margin-top: 400px;
    &__bg {
        background-image: url("../../images/bg-form3x.png");
        background-size: 90%;
        background-repeat: no-repeat;
        position: absolute;
        top: -400px;
        left: -80px;
        height: 900px;
        width: 100%;
        z-index: -4;
    }
    &__body {
        max-width: 366px;
        margin: 0 auto;
        span {
            font-size: 16px;
            line-height: 24px;
            /* identical to box height */
            /* Backgrounds/Action/Second */
            color: #53B175;
        }
        h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 125%;
            /* or 37px */
            /* Labels/Light/Primary */
            color: #000000;
            margin: 7px 0 40px;
        }
    }
    &__form {
        label,
        input {
            display: block;
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
        }
        label {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */
            /* grey */
            color: #B0B7C3;
            margin-top: 24px;
        }
        input {
            border-bottom: 1px solid rgba(177, 184, 196, 0.5);
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 13px;
            color: #181725 !important;
            &:focus {
                border-bottom: 1px solid #53B175;
            }
        }
        .savol {
            margin-top: 24px;
            margin-bottom: 33px;
        }
    }
}