.hero-image {
  background-image: url("../../icons/bg-hero.png");
  background-size: 100% 80%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  top: -80px;
  height: 100vh;
  width: 100vw;
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.hero-image__bgTree {
  position: absolute;
  right: 0;
  bottom: 250px;
  transform: rotateY(180deg);
}
.hero-input {
  width: 513px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #f1f4f7;
  border-radius: 100px;
  padding: 0 10px;
  outline: none;
  position: relative;
}
.hero-btn {
  background: #53b175;
  border-radius: 100px;
  position: absolute;
  bottom: 6px;
  right: 90px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
}
.hero-bgImage {
  margin-top: -500px !important;
  z-index: 50;
  position: relative;
  display: flex;
  justify-content: center;
}
.hero-bgImage .hero-gg {
  background-color: red;
  width: 250px;
  position: absolute;
  left: 200px;
  bottom: 250px;
  z-index: 99;
}
