@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Barlow:wght@200;400;600&family=Bellefair&family=IBM+Plex+Serif&family=Nunito:ital,wght@0,200;0,300;1,200&family=Philosopher:wght@400;700&family=Poppins:wght@200;400;600&display=swap");

.NewCompony {
  align-items: center;
  justify-content: center;
  &__hashTag{
    margin-top: 83px;
  }
  &__componyTop {
    &__componyRowTop {
      background: #ffffff;
      box-shadow: 0px 25px 50px 5px #f6f7ff;
      border-radius: 25px;
      &__rowTopRight {
        // width: 100%;
        img {
          width: 100%;
        }
      }
      
      &__rowTopLeft {
        &__lefththree {
          font-family: "IBM Plex Serif";
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 42px;
          color: #2a2a2a;
        }
        &__leftT {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 165%;
          color: #2a2a2a;
          opacity: 0.4;
        }
        
      }
    }
  }
  &__componyButtom {
    &__buttomSlad {
      gap: 30px;
      
      &__sladComponent {
        border-radius: 20px;
        display: flex !important;
        align-items: center;

        // &__sladCompFoto {
        // }
        &__sladCompText {
          &__sladText {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
           
          }
          &__sladPiText {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #b0b7c3;
          }
        }
      }
    }
  }
}

.slick-slide .slick-active{
  width: auto !important;
  margin-right: 30px;
}
.slick-dots{
  display: none;
}

.slick-dots li button{
  content: '' !important;
  width: 40px !important;
  height: 15px !important;
  background-color: #000000 !important;
  display: none !important;

}