.hero-image {
  background-image: url("../../../icons/bg-hero.png");
  background-size: 100% 80%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  top: -80px;
  height: 130vh;
  width: 100vw;
}

.hero{
  z-index: 1;
   padding-top: 165px;
}
.hero-text {
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
.hero__text h1{
  max-width: 777px;
  margin: 0 auto;
  font-weight: 700;
font-size: 44px;
line-height: 66px;
}
.hero__text p {
  max-width: 463px;
  margin: 0 auto 40px !important;
  font-size: 16px;
line-height: 24px;
text-align: center;
}

.hero-image__bgTree {
  position: absolute;
  right: 0;
  bottom: 180px;
  transform: rotateY(180deg);
  width: 45%;
}
.hero-input {
  width: 513px;
  height: 44px;
  padding: 0 10px;
  padding-left: 22px !important;
  background: #ffffff;
  border: 1px solid #f1f4f7;
  border-radius: 100px;
  outline: none;
  margin: 0 auto;
  position: relative;
}
.hero-btn {
  background: #53b175;
  border-radius: 100px;
  position: relative;
  right: 90px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
}
.hero-bgImage {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 836px;
  margin: 0 auto;
}
.hero-bgImage .hero-gg {
  background-color: #ffffff;
  width: 188px;
  position: absolute;
  left: -10%;
  bottom: 50%;
  z-index: 9;
  height: 118px;
  box-shadow: 0px 15px 60px rgba(22, 22, 22, 0.1);
  border-radius: 15px;
}
.papper{
  margin-left: 20px;
  margin-top: 15px;
}
.papperOne {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-right: 20px;
  align-items: center;
  
}
.papperOne img{
  margin-right: 10px;
}
.papperTwo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}
.hero-ggTwo{
  background-color: #ffffff;
  width: 188px;
  position: absolute;
  left: 85%;
  bottom: 20%;
  z-index: 99;
  height: 118px;
  box-shadow: 0px 15px 60px rgba(22, 22, 22, 0.1);
  border-radius: 15px;
}

.notifacation {
  position: fixed;
  bottom: 0;
  right: 100px;
  z-index: 9999;
}
.notifacation .callInfo {
  justify-content: center;
  display: flex;
}

.notifacation .callInfo img{
  object-fit: contain;
}
