@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Barlow:wght@200;400;600&family=Bellefair&family=Philosopher:wght@400;700&family=Poppins:wght@200;400;600&display=swap');
.TopHeaderContainer {
    // background-color: #D6ECDF;
}

.topLi>a {
    text-decoration: none;
    color: #505050;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.topLi>a:hover {
    color: #63B882;
}

.topUl {
    gap: 26px;
    display: flex;
    padding: 10px;
    margin-bottom: 0;
}

.section {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.location_flag div {
    position: relative;
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    align-items: center;
    cursor: pointer;
    &:hover {
        .drop_menu {
            visibility: visible;
            opacity: 1;
            display: block;
        }
    }
    .drop_menu {
        position: absolute;
        visibility: hidden;
        transition: all 0.1s ease-in;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(113, 124, 140, 0.3);
        border-radius: 8px;
        display: block;
        min-width: 271px;
        min-height: 115px;
        left: 0;
        top: 40px;
        z-index: 9999;
        &::before {
            position: absolute;
            top: -29px;
            left: 0px;
            display: block;
            content: url("../../../images/Polygon\ 5.svg");
            width: 10px;
        }
        .drop_link a {
            display: block;
            width: 100%;
            padding: 14px 0 13px 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #282828;
            clear: both;
            &.active {
                color: #53B175 !important;
                background: #E5FCED;
            }
            &:nth-child(2) {
                margin-top: 8px;
            }
            &:hover {
                color: #53B175 !important;
                background: #E5FCED;
            }
            align-items: center;
            img {
                margin-right: 12px;
            }
        }
        padding-top: 8px;
        opacity: 1;
    }
}

.stek {
    opacity: 0.5;
    align-items: center;
}

.pismo {
    align-items: center;
    display: flex;
}

.location_flag div::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(176, 183, 195, 0.4);
    display: flex;
    align-items: center;
    position: absolute;
    right: -16px;
}

.location_country div {
    position: relative;
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}

.location_log div {
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}

.location_country div::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(176, 183, 195, 0.4);
    display: flex;
    align-items: center;
    position: absolute;
    right: -16px;
}

.login {
    font-weight: 600 !important ;
    font-size: 14px !important; 
    line-height: 21px !important;
    color: #000000 !important;
    margin-left: 16px;
    p {
        margin-bottom: 0;
    }
}