.bg{
    background: aqua;
}

.myCard{
    width: 347px;
    border-radius: 25px !important;
    overflow: hidden;
    background: #fff;
    padding: 0 !important;
}

.myCard__body{
    padding: 20px 8px 32px 8px;
}

.myCard__h4{
    font-size: 18px ;
    line-height: 27px;
   
    font-style: normal;
    margin: 10px 0; 
}
.myCard__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    /* grey */

color: #B0B7C3;
}
.myCard-hesh, .myCard__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #53B175;
    text-decoration: none;
    
}
.myCard-hesh>span{
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;
    margin-left: 12px;
}

.myCard__link {
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.myCard__link span{
    margin-left: 16px;
}


