

.doctorCard{
    max-width: 200px;
    min-height: 250px;
    border: 1px solid #E2E2E2;
    border-radius: 18px;
    padding: 16px;
    position: relative;

    &__img{
        position: relative;
        margin-bottom: 16px;
        &__first{
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        &__button{
            position: absolute;
            padding: 3px 17px;
            z-index: 9;
            background: #F29C1F;
            border-radius: 10px;
            font-weight: 600;
            font-size: 10px;
            line-height: 18px;
            color: #FFFFFF;
            top: 100px;
            left: 40px;
        }

        &__icon{
            position: absolute;
            top: 5px;
            right: 10px;

        }
        
        &__loading{
            border: 3px solid transparent;
            border-bottom-color: aqua;

            width: 15px;
            display: block;
            height: 15px;
            border-radius: 50%;
            animation: loading .8s infinite ease;
            
            @keyframes loading {
                0%{
                    transform: rotate(0deg);
                }
                100%{
                    transform: rotate(360deg);
                }
            }

        }
    }
    &__body{
        h5{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #181725;
        }

        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            /* or 129% */
            display: flex;
            align-items: center;
            color: #7C7C7C;
            margin: 4px 0 17px;
        }
    }
    &__button{
        padding: 11px 37px;
        background: rgba(83, 177, 117, 0.1);
        border-radius: 13px;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        display: flex;
        align-items: center;
        color: #53B175;
    }
}