.SmallTitle{
    max-width: 610px;
    margin: 0 auto;
    h4{
        font-size: 16px;
        line-height: 24px;
        /* identical to box height */
        color: #181725;

    }
    a{
        font-weight: 400;
        font-size: 12px;
        line-height: 23px;
        color: #747688;
    }
}