.bottom-header {
  /* background-color:#BAE0C8; */
}

.bottom-headder-two {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.navi {
  margin-left: 53px;
  margin-right: auto !important;
  margin-right: 20px;
  position: relative;
}
.topi > a {
  text-decoration: none;
  color: #505050;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.threeIcon {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
.active{
  color: black !important;
  font-weight: 700 !important;
  /* background-color: red; */
}
