@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Barlow:wght@200;400;600&family=Bellefair&family=Philosopher:wght@400;700&family=Poppins:wght@200;400;600&display=swap');
.TopHeaderContainer{
   
    background-color: #D6ECDF;    
}

.topLi > a{
    text-decoration: none;
    color: #505050;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  
}
.topLi > a:hover{
    color: #63B882;
}
.topUl{
    gap: 26px;
    display: flex;
    padding: 10px;
    margin-bottom: 0;
}
.section{
    display: flex;
    gap: 40px;
    padding: 10px;
    align-items: center;
}
.location{
    display: flex;
    gap: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    align-items: center;

}
.stek{
    opacity: 0.5;
    align-items: center;
}
.pismo{
    align-items: center;
    margin-top: 10px;
}


