.askquestion_title {
    h1 {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #000000;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #53B175;
        opacity: 0.87;
    }
}

.askquestion_page {
    padding: 100px 0;
    .askquestion_rightBack img {
        position: absolute;
        right: -40px;
        bottom: 0px;
        opacity: 0.15;
        object-fit: contain;
        transform: rotateY(180deg) !important;
        z-index: -1;
    }
    .askquestion_leftBack img {
        object-fit: contain;
        position: absolute;
        left: -105px;
        top: 150px;
    }
    .accordion_blog {
        position: relative;
        padding-top: 400px;
    }
}