.history {
  max-width: 1440px;
  margin-left: 100px;
  

  &__top {
    position: relative;
    z-index: 10;
  

    
    ul {
      margin-left: 130px;
      display: flex;
      gap: 40px;
      padding: 7px;
      background-color: #fafbfc;

      li {
        color: grey;
        padding: 7px;
        font-family: "Poppins";
        font-size: 16px;
        line-height: 24px;
      }
      li :active {
        background-color: #ddefe3 !important;
        border-radius: 10px !important;
        padding: 7px !important;
        color: #64b983;
      }
    }
  }
  &__buttom {
    display: flex;
    &__left {
      margin-top: -150px;
      img{
          margin-top: -30px;
      }
    }

    &__right {
      margin-top: 20px;
    }
  }
}
.bgHistory{
    
}