*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: none;
    list-style: none;
    
}
body{
    overflow-x: hidden !important;
}

.globalContainer{
    padding: 0 100px;
    
}