@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    flex-direction: none;
    list-style: none;
    
}
html,
body{
    height: 100%;
    overflow-x: hidden !important;
    font-family: "Poppins";
}
button{
    outline: none;

    border: none;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}
.grid-center{
    display: grid;
    /* align-items: center; */
    place-items:center;
}

.globalContainer{
    max-width: 1240px;
    margin: 0 auto;    
}

a{
    text-decoration: none !important;
}

ul{
    margin-left: 0;
}