


.questions{
    margin-top: 145px !important;


    &__title{
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
    }
    &__text{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* Backgrounds/Action/Second */
        color: #53B175;
        opacity: 0.87;
        max-width: 220px;
        margin: 13px 0 46px;
    }
    &__accordion{
        padding: 65px;
    }

}
